# Ignore environment variables
.env

# Logs and temporary files
data/logs/
*.log

# Build artefacts
*.pyc
__pycache__/

# Generated documentation & schema files
src/system_design_doc.md
src/init_schema.sql

# IDE / editor configs
.vscode/
.idea/
